<table cellspacing="0" cellpadding="0" class="classLayout mode#{mode}">
<af:iteration-part maxOccurs="100">
<tr>
<td>
	$af:next$
</td>
<td>
	$af:next$
</td>
<td>
	$af:next$
</td>
</tr>
</af:iteration-part>
</table>
