<table cellspacing="0" cellpadding="0" class="classLayout">
	<af:iteration-part maxOccurs="100">
		<tr>
			<td>$af:next$</td>
			<td>$af:next$</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>$af:next$</td>
		</tr>
	</af:iteration-part>
</table>
