<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:ui="http://java.sun.com/jsf/facelets"
			 xmlns:h="http://java.sun.com/jsf/html"
			 template="#{empty template ? '/WEB-INF/af/profile/html/switcher.xhtml' : template}">

	<ui:param name="rendered" value="#{empty render$field.firstToUpper()$ ? 'true' : render$field.firstToUpper()$}"/>
	<ui:param name="label" value="#{text['$entityBean.shortClassName().firstToLower()$.$field$']}"/>
	<ui:param name="id" value="#{prefix}$field$"/>
	<ui:param name="required" value="#{empty required$field.firstToUpper()$ ? $required$ : required$field.firstToUpper()$}"/>
	<ui:param name="maxlength" value="$maxLength$"/>
	<ui:param name="size" value="$size$"/>
	<ui:param name="title" value="#{text['title.$entityBean.shortClassName().firstToLower()$.$field$']}"/>
	<ui:param name="value" value="#{$entityBean.shortClassName()$.$field$}"/>

	<ui:define name="input">
		<h:inputText
			rendered="#{rendered}"
			required="#{required}"
			id="#{id}"
			maxlength="#{maxlength}"
			size="#{size}"
			title="#{empty title ? label : title}"
			value="#{value}"/>
	</ui:define>

	<ui:define name="output">
		<h:outputText value="#{value}"/>
	</ui:define>

</ui:decorate>
