<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition>
    <h:inputText
	    required="#{empty required ? 'false' : required}"
	    rendered="#{empty rendered ? 'true' : rendered}"
	    id="#{id}"
	    maxlength="#{empty maxlength ? '50' : maxlength}"
	    size="#{empty size ? '20' : size}"
	    title="#{empty title ? label : title}"
	    value="#{value}">
	<ui:insert/>
    </h:inputText>
</ui:composition>
</body>
</html>
