<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
    <ui:define name="edit">
	<p:spinner
		ondownclick="validateInputNumber(this,#{empty required ? 'false' : required},#{empty minValue ? '0' : minValue}, #{empty maxValue ? '10000000000' : maxValue} , #{empty pattern ? '\'\'' : pattern},'#{text['client.validator.number']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');"
		onupclick="validateInputNumber(this,#{empty required ? 'false' : required},#{empty minValue ? '0' : minValue}, #{empty maxValue ? '10000000000' : maxValue} , #{empty pattern ? '\'\'' : pattern},'#{text['client.validator.number']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');"
		onblur="validateInputNumber(this,#{empty required ? 'false' : required},#{empty minValue ? '0' : minValue}, #{empty maxValue ? '10000000000' : maxValue} , #{empty pattern ? '\'\'' : pattern},'#{text['client.validator.number']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');"
		value="#{value}"
		title="#{empty title ? label : title}"
		step="#{empty step ? 1 : step}"
		disabled="#{empty edit ? true : not edit}"
		inputSize="#{empty size ? '10' : size}"
		maxValue="#{empty maxValue ? '10000000000' : maxValue}"
		minValue="#{empty minValue ? '0' : minValue}"

		required="#{empty required ? 'false' : required}"
		rendered="#{empty rendered ? 'true' : rendered}"
		id="#{id}">
	    <ui:insert/>
	</p:spinner>
    </ui:define>
</ui:composition>
</body>
</html>
