<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
    <ui:define name="edit">
	<ui:fragment rendered="#{type == 'list'}">
	    <h:selectManyCheckbox
		    id="#{id}list"
		    required="#{empty required ? 'false' : required}"
		    title="#{empty title ? label : title}"
		    layout="#{layout}"
		    value="#{value}">

		<f:selectItems
			value="#{collection}"
			var="item"
			itemValue="#{item}"
			itemLabel="#{item.label}#{item.description}"
			id="#{id}ItemList"
			noSelectionLabel="#{(empty emptySelectLabel and not required) ? 'any..' : (required ? null : emptySelectLabel)}"/>
		<f:converter converterId="generalConverter"/>
	    </h:selectManyCheckbox>
	</ui:fragment>
    </ui:define>
    <ui:define name="messages">
	<div id="#{id}listMessage" class="errorElement serverError">
	    <p:message for="#{id}list" styleClass="error errors"/>
	</div>
    </ui:define>
    <ui:define name="view">
	<h:outputText value="#{value.label}" id="#{id}View"/>
    </ui:define>
</ui:composition>
</body>
</html>
