<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
    <ui:define name="edit">
	<h:outputText value="" id="#{id}"/>
	<ui:fragment rendered="#{type == 'enum'}">
	    <p:selectOneMenu id="#{id}enum"
			     style="#{style}"
			     onblur="validateSelect(this,#{empty required ? 'false' : required}, '#{text['client.validator.text']}');"
			     onchange="#{empty onchange ? '' : onchange}"
			     title="#{empty title ? label : title}"
			     required="#{empty required ? false : required}"
			     value="#{value}">
		<c:if test="#{empty hideNoSelect ? true : not hideNoSelect}">
		    <f:selectItem
			    itemLabel="#{empty emptySelectLabel ? 'Select...' : emptySelectLabel}"
			    itemValue="#{empty emptySelectValue ? null : emptySelectValue}"/>
		</c:if>
		<f:selectItems value="#{collection}" var="item"
			       itemLabel="#{item.label}"
			       noSelectionLabel="#{(empty emptySelectLabel and not hideEmpty) ? ' ' : (hideEmpty ? null : emptySelectLabel)}"
			       hideNoSelectionLabel="#{empty hideEmpty ? false : hideEmpty}"/>
		<ui:insert name="ajax"/>
	    </p:selectOneMenu>
	</ui:fragment>
	<ui:fragment rendered="#{type == 'entity'}">
	    <p:selectOneMenu id="#{id}entity"
			     style="#{style}"
			     onblur="validateSelect(this,#{empty required ? 'false' : required}, '#{text['client.validator.text']}');"
			     title="#{empty title ? label : title}"
			     required="#{empty required ? 'false' : required}"
			     value="#{value}">
		<c:if test="#{empty hideNoSelect ? true : not hideNoSelect}">
		    <f:selectItem
			    itemLabel="#{empty emptySelectLabel ? 'Select...' : emptySelectLabel}"
			    itemValue="#{empty emptySelectValue ? null : emptySelectValue}"/>
		</c:if>
		<f:selectItems value="#{collection}" var="item"
			       itemLabel="#{empty itemCustomLabel ? item : item[itemCustomLabel]}"
			       noSelectionValue="null"
			       noSelectionLabel="#{(empty emptySelectLabel and not hideEmpty)  ? ' ' : (hideEmpty ? null : emptySelectLabel)}"
			       hideNoSelectionLabel="#{empty hideEmpty ? false : hideEmpty}"/>
		<ui:insert name="convertor">
		    <f:converter converterId="generalConverter"/>
		</ui:insert>
		<ui:insert name="ajax"/>
	    </p:selectOneMenu>
	</ui:fragment>
	<ui:fragment rendered="#{type == 'list'}">
	    <p:selectOneMenu id="#{id}list"
			     style="#{style}"
			     onblur="validateSelect(this,#{empty required ? 'false' : required}, '#{text['client.validator.text']}');"
			     title="#{empty title ? label : title}"
			     required="#{empty required ? 'false' : required}"
			     value="#{value}">
		<c:if test="#{empty hideNoSelect ? true : not hideNoSelect}">
		    <f:selectItem
			    itemLabel="#{empty emptySelectLabel ? 'Select...' : emptySelectLabel}"
			    itemValue="#{empty emptySelectValue ? null : emptySelectValue}"/>
		</c:if>
		<f:selectItems value="#{collection}" var="item"
			       itemLabel="#{empty itemLabel ? item : itemLabel}"
			       itemValue="#{item}"
			       noSelectionLabel="#{(empty emptySelectLabel and not hideEmpty) ? ' ' : (hideEmpty ? null : emptySelectLabel)}"
			       hideNoSelectionLabel="#{empty hideEmpty ? false : hideEmpty}"/>
		<ui:insert name="ajax"/>
	    </p:selectOneMenu>
	    <ui:insert name="button"/>
	</ui:fragment>
    </ui:define>
    <ui:define name="tooltip">
	<p:tooltip for="#{id}enum" styleClass="inTip" showEvent="focus" hideEvent="blur"/>
	<p:tooltip for="#{id}entity" styleClass="inTip" showEvent="focus" hideEvent="blur"/>
	<p:tooltip for="#{id}list" styleClass="inTip" showEvent="focus" hideEvent="blur"/>
    </ui:define>
    <ui:define name="messages">
	<ui:fragment rendered="#{type == 'enum'}">
	    <p:message for="#{id}enum" styleClass="error errors"/>
	</ui:fragment>
	<ui:fragment rendered="#{type == 'entity'}">
	    <p:message for="#{id}entity" styleClass="error errors"/>
	</ui:fragment>
	<ui:fragment rendered="#{type == 'list'}">
	    <p:message for="#{id}list" styleClass="error errors"/>
	</ui:fragment>
    </ui:define>
    <ui:define name="view">
	<h:outputText rendered="#{empty value}"
		      value="#{empty defaultViewLabel ? '' : defaultViewLabel}" id="#{id}ViewEmpty"/>
	<ui:fragment rendered="#{not empty value}">
	    <h:outputText rendered="#{empty itemCustomLabel}"
			  value="#{value.label}" id="#{id}View"/>
	    <h:outputText rendered="#{not empty itemCustomLabel}"
			  value="#{value[itemCustomLabel]}" id="#{id}ViewCustom"/>
	</ui:fragment>
    </ui:define>
</ui:composition>
</body>
</html>
