<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:af="http://codingcrayons.com/aspectfaces">
<h:head>
	<title>DevConf 2013 AspectFaces lab</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</h:head>
<h:body>
	<h1>DevConf 2013 AspectFaces lab</h1>
	<h:panelGrid columns="2">
		<h:form id="userForm">
			<p:panel>
				<af:ui instance="#{userController.user}" edit="true"/>
				<h:commandButton value="Send"/>
			</p:panel>
		</h:form>
		<p:panel>
			<af:ui instance="#{userController.user}"/>
		</p:panel>
	</h:panelGrid>
</h:body>
</html>
